<div class="wrapper">
  <p class="hero-text-1">header 1 style test</p>
  <p>normal text</p>
  <h1>hello</h1>

  <ng-container *ngIf="showTranslation">
    <p *ngIf="showPrimaryWordFirst">{{ primaryWord }}</p>
    <p *ngIf="!showPrimaryWordFirst">{{ secondaryWord }}</p>
  </ng-container>
  <ng-container *ngIf="showTranslation">
    <p *ngIf="showPrimaryWordFirst" class="text-sm">{{ secondaryWord }}</p>
    <p *ngIf="!showPrimaryWordFirst" class="text-sm">{{ primaryWord }}</p>
  </ng-container>

  <p>{{ explanation }}</p>
</div>
