<div
  class="bar my-4 py-4 flex flex-col items-center w-full gap-2 p-x-8 rounded-3xl bg-orange-300"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowTranslation()"
  >
    <i class="bi bi-translate font-black text-gray-900 text-3xl"></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowExplanation()"
  >
    <i class="bi bi-question-diamond font-black text-gray-900 text-3xl"></i>
  </button>
  <button class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12">
    <i class="bi bi-card-text font-black text-gray-900 text-3xl"></i>
  </button>
  <!-- <button
        class="font-semibold text-gray-900 text-l rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
      >
        E.g.
      </button> -->
</div>
<div
  class="bar my-4 py-4 flex flex-col items-center w-full gap-2 p-x-8 rounded-3xl bg-pink-300"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowContentAfterWordVisited()"
  >
    <i class="bi bi-eye font-black text-gray-900 text-3xl"></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onMoveSidebar()"
  >
    <i
      *ngIf="!sidebarsOnRight"
      class="bi bi-arrow-bar-right font-black text-gray-900 text-3xl"
    ></i>
    <i
      *ngIf="sidebarsOnRight"
      class="bi bi-arrow-bar-left font-black text-gray-900 text-3xl"
    ></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    pTooltip="Enter your username"
    [hideDelay]="500000"
    tooltipPosition="right"
  >
    <i class="bi bi-sign-turn-right font-black text-gray-900 text-3xl"></i>
  </button>
</div>
