<div
  class="my-4 py-4 flex flex-col items-center w-full gap-2 p-x-8 rounded-3xl bg-purple-300"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowTranslation()"
  >
    <!-- <app-toast
      toastId="toast-1"
      toastGroupId="toast-group-1"
      position="LEFT"
      [show]="true"
      [nextElements]="nextElements"
      [animation]="true"
    >
      <app-toast-content toastId="toast-1"></app-toast-content>
    </app-toast> -->
    <i class="bi bi-translate font-black text-gray-900 text-3xl"></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onToggleTranslation()"
  >
    <i class="bi bi-arrow-repeat font-black text-gray-900 text-3xl"></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowExplanation()"
  >
    <span class="text-gray-900 text-2xl">Ex</span>
  </button>
  <button class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12">
    <span class="text-gray-900 text-2xl">Eg</span>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowContentAfterWordVisited()"
  >
    <i class="bi bi-eyeglasses font-black text-gray-900 text-3xl"></i>
  </button>
</div>
<div
  class="bar my-4 py-4 flex flex-col items-center w-full gap-2 p-x-8 rounded-3xl bg-pink-300"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowAllExerciseAnswers()"
  >
    <app-toast
      toastId="toast-1"
      toastGroupId="toast-group-1"
      effectivePosition="other"
      position="LEFT"
      [show]="true"
      [nextElements]="nextElements"
      [animation]="true"
    >
      <app-toast-content toastId="toast-1"></app-toast-content>
    </app-toast>
    <i class="bi bi-eye font-black text-gray-900 text-3xl"></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onHideAllExerciseAnswers()"
  >
    <i
      class="bi bi-eye-slash font-black before:content-['\f340'] before:text-white before:bg-gray-800 before:rounded-full text-3xl"
    ></i>
  </button>
</div>
<div
  class="bar my-4 py-4 flex flex-col items-center w-full gap-2 p-x-8 rounded-3xl bg-gray-400"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onMoveSidebar()"
  >
    <i
      *ngIf="!sidebarsOnRight"
      class="bi bi-arrow-bar-right font-black text-gray-900 text-3xl"
    ></i>
    <i
      *ngIf="sidebarsOnRight"
      class="bi bi-arrow-bar-left font-black text-gray-900 text-3xl"
    ></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onChangeSlideNavbarPos()"
  >
    <i
      class="bi bi-sign-turn-right font-black text-gray-900 text-3xl"
      [ngClass]="{
      'bi bi-sign-turn-right': slideNavbarPos === 'MIDDLE' || slideNavbarPos === 'LEFT',
      'bi bi-sign-turn-left': slideNavbarPos === 'RIGHT',
    }"
    ></i>
  </button>
</div>
