<div
  class="my-4 px-2 py-4 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-gray-300"
>
  <div class="relative overflow-hidden">
    <!-- To do: add option to only replace certain classes for the arrows. -->
    <app-tour-guide
      elementId="tour-guide-1"
      elementGroupId="tour-guide-group-1"
      effectivePosition="absolute"
      position="RIGHT"
      [toggleOnClick]="true"
      [showOnHover]="false"
      [hideOnHoverOut]="false"
      [show]="true"
      [arrowLeftCSSClasses]="
        'absolute top-[50%] left-0 w-0 h-0 border-r-8 -mt-2 -ml-2 border-b-8 border-t-8 border-b-transparent border-t-transparent border-r-blue-100'
      "
    >
      <app-tour-guide-help elementId="tour-guide-1">
        <app-tour-guide-help-action-bar
          elementId="tour-guide-1"
          (updateToggleTooltips)="updateToggleTooltips()"
        />
      </app-tour-guide-help>
    </app-tour-guide>
    <button class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12">
      <i class="bi bi-question font-black text-gray-900 text-3xl"></i>
    </button>
  </div>
</div>
<div
  class="my-4 px-2 py-4 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-purple-300"
>
  <div class="relative overflow-hidden">
    <!-- To do: add option to only replace certain classes for the arrows. -->
    <app-tour-guide
      elementId="tour-guide-2"
      elementGroupId="tour-guide-group-1"
      effectivePosition="absolute"
      position="RIGHT"
      [showOnHover]="showTooltips"
      [arrowLeftCSSClasses]="
        'absolute top-[50%] left-0 w-0 h-0 border-r-8 -mt-2 -ml-2 border-b-8 border-t-8 border-b-transparent border-t-transparent border-r-blue-100'
      "
    >
      <app-tour-guide-help elementId="tour-guide-2">
        <p message class="mr-4">Show/Hide translation</p>
      </app-tour-guide-help>
    </app-tour-guide>
    <button
      class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
      (click)="onShowTranslation()"
    >
      <i class="bi bi-translate font-black text-gray-900 text-3xl"></i>
    </button>
  </div>
  <div class="relative overflow-hidden">
    <!-- To do: add option to only replace certain classes for the arrows. -->
    <app-tour-guide
      elementId="tour-guide-3"
      elementGroupId="tour-guide-group-1"
      effectivePosition="absolute"
      position="RIGHT"
      [toggleOnClick]="false"
      [showOnHover]="showTooltips"
      [arrowLeftCSSClasses]="
        'absolute top-[50%] left-0 w-0 h-0 border-r-8 -mt-2 -ml-2 border-b-8 border-t-8 border-b-transparent border-t-transparent border-r-blue-100'
      "
    >
      <app-tour-guide-help elementId="tour-guide-3">
        <p message class="mr-4">Toggle primary language</p>
      </app-tour-guide-help>
    </app-tour-guide>
    <button
      class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
      (click)="onToggleTranslation()"
    >
      <i class="bi bi-arrow-repeat font-black text-gray-900 text-3xl"></i>
    </button>
  </div>

  <div class="relative overflow-hidden">
    <!-- To do: add option to only replace certain classes for the arrows. -->
    <app-tour-guide
      elementId="tour-guide-4"
      elementGroupId="tour-guide-group-1"
      effectivePosition="absolute"
      position="RIGHT"
      [toggleOnClick]="false"
      [showOnHover]="showTooltips"
      [arrowLeftCSSClasses]="
        'absolute top-[50%] left-0 w-0 h-0 border-r-8 -mt-2 -ml-2 border-b-8 border-t-8 border-b-transparent border-t-transparent border-r-blue-100'
      "
    >
      <app-tour-guide-help elementId="tour-guide-4">
        <p message class="mr-4">Show/Hide explanation</p>
      </app-tour-guide-help>
    </app-tour-guide>
    <button
      class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
      (click)="onShowExplanation()"
    >
      <span class="text-gray-900 text-2xl">Ex</span>
    </button>
  </div>
  <div class="relative overflow-hidden">
    <!-- To do: add option to only replace certain classes for the arrows. -->
    <app-tour-guide
      elementId="tour-guide-5"
      elementGroupId="tour-guide-group-1"
      effectivePosition="absolute"
      position="RIGHT"
      [toggleOnClick]="false"
      [showOnHover]="showTooltips"
      [arrowLeftCSSClasses]="
        'absolute top-[50%] left-0 w-0 h-0 border-r-8 -mt-2 -ml-2 border-b-8 border-t-8 border-b-transparent border-t-transparent border-r-blue-100'
      "
    >
      <app-tour-guide-help elementId="tour-guide-5">
        <p message class="mr-4">Show/Hide example sentences</p>
      </app-tour-guide-help>
    </app-tour-guide>
    <button class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12">
      <span class="text-gray-900 text-2xl">Eg</span>
    </button>
  </div>
  <div class="relative overflow-hidden">
    <!-- To do: add option to only replace certain classes for the arrows. -->
    <app-tour-guide
      elementId="tour-guide-6"
      elementGroupId="tour-guide-group-1"
      effectivePosition="absolute"
      position="RIGHT"
      [toggleOnClick]="false"
      [showOnHover]="showTooltips"
      [arrowLeftCSSClasses]="
        'absolute top-[50%] left-0 w-0 h-0 border-r-8 -mt-2 -ml-2 border-b-8 border-t-8 border-b-transparent border-t-transparent border-r-blue-100'
      "
    >
      <app-tour-guide-help elementId="tour-guide-6">
        <p message class="mr-4">Only show visited words on sidebar</p>
      </app-tour-guide-help>
    </app-tour-guide>
    <button
      class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
      (click)="onShowContentAfterWordVisited()"
    >
      <i class="bi bi-eyeglasses font-black text-gray-900 text-3xl"></i>
    </button>
  </div>
</div>
<div
  class="my-4 py-4 px-2 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-pink-300"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onShowAllExerciseAnswers()"
  >
    <i class="bi bi-eye font-black text-gray-900 text-3xl"></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onHideAllExerciseAnswers()"
  >
    <i
      class="bi bi-eye-slash font-black before:content-['\f340'] before:text-white before:bg-gray-800 before:rounded-full text-3xl"
    ></i>
  </button>
</div>
<div
  class="my-4 px-2 py-4 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-gray-400"
>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onMoveSidebar()"
  >
    <i
      *ngIf="!sidebarsOnRight"
      class="bi bi-arrow-bar-right font-black text-gray-900 text-3xl"
    ></i>
    <i
      *ngIf="sidebarsOnRight"
      class="bi bi-arrow-bar-left font-black text-gray-900 text-3xl"
    ></i>
  </button>
  <button
    class="rounded-full bg-gray-50 hover:bg-gray-200 h-12 w-12"
    (click)="onChangeSlideNavbarPos()"
  >
    <i
      class="bi bi-sign-turn-right font-black text-gray-900 text-3xl"
      [ngClass]="{
      'bi bi-sign-turn-right': slideNavbarPos === 'MIDDLE' || slideNavbarPos === 'LEFT',
      'bi bi-sign-turn-left': slideNavbarPos === 'RIGHT',
    }"
    ></i>
  </button>
</div>
