<div
  class="mb-auto mt-8 my-4 px-2 py-4 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-gray-300"
>
  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-1"
      effectivePosition="absolute"
      [toggleOnClick]="true"
      [showOnHover]="false"
      [hideOnHoverOut]="false"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help [showCloseIcon]="true" elementId="tour-guide-1">
        <app-tour-guide-help-action-bar
          [showTooltipsOnUserAction]="showTooltips"
          elementId="tour-guide-1"
          (updateToggleTooltips)="updateToggleTooltips()"
        />
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button iconClasses="bi bi-question" />
  </app-tour-guide-container>
</div>
<div
  class="my-4 px-2 py-4 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-purple-300"
>
  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-2"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-2">
        <p message class="mr-4 text-blue-950">
          Show/Hide <span class="underline">translation</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button
      (click)="onShowTranslation()"
      iconClasses="bi bi-translate"
    />
  </app-tour-guide-container>
  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-3"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-3">
        <p message class="mr-4 text-blue-950">
          Toggle <span class="underline">primary language</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button
      (click)="onToggleTranslation()"
      iconClasses="bi bi-arrow-repeat"
    />
  </app-tour-guide-container>

  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-4"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-4">
        <p message class="mr-4 text-blue-950">
          Show/Hide <span class="underline">explanation</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-text-button
      (click)="onShowExplanation()"
      buttonText="Ex"
    />
  </app-tour-guide-container>

  <!-- <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-5"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-5">
        <p message class="mr-4 text-blue-950">
          Show/Hide <span class="underline">example sentences</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-text-button buttonText="Eg" />
  </app-tour-guide-container> -->

  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-6"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-6">
        <p message class="mr-4 text-blue-950">
          Only show <span class="underline">visited words</span> on sidebar
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button
      (click)="onShowContentAfterWordVisited()"
      iconClasses="bi bi-eyeglasses"
    />
  </app-tour-guide-container>
</div>
<div
  class="my-4 py-4 px-2 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-pink-300"
>
  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-6"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-6">
        <p message class="mr-4">
          Show all <span class="underline">exercise answers</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button
      (click)="onShowAllExerciseAnswers()"
      iconClasses="bi bi-eye "
    />
  </app-tour-guide-container>

  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-6"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-6">
        <p message class="mr-4">
          Hide all <span class="underline">exercise answers</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <button
      class="rounded-full bg-gray-50 hover:enabled:bg-gray-200 h-12 w-12"
      (click)="onHideAllExerciseAnswers()"
    >
      <i
        class="bi bi-eye-slash font-black before:content-['\f340'] before:text-white before:bg-gray-800 before:rounded-full text-3xl"
      ></i>
    </button>
  </app-tour-guide-container>
</div>
<div
  class="my-4 px-2 py-4 flex flex-col items-center gap-2 p-x-8 rounded-3xl bg-gray-400"
>
  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-6"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-6">
        <p message class="mr-4">Move <span class="underline">sidebar</span></p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button
      (click)="onMoveSidebar()"
      iconClasses="{{
        !sidebarsOnRight ? 'bi bi-arrow-bar-right' : 'bi bi-arrow-bar-left'
      }}"
    />
  </app-tour-guide-container>

  <app-tour-guide-container>
    <app-tour-guide
      elementId="tour-guide-6"
      [showOnHover]="showTooltips"
      effectivePosition="absolute"
      [position]="sidebarsOnRight ? 'LEFT' : 'RIGHT'"
      [arrowLeft]="sidebarsOnRight ? false : true"
      [arrowRight]="sidebarsOnRight ? true : false"
      [arrowLeftCSSClasses]="tourGuideArrowLeftCSSClasses"
      [arrowRightCSSClasses]="tourGuideArrowRightCSSClasses"
    >
      <app-tour-guide-help elementId="tour-guide-6">
        <p message class="mr-4">
          Move <span class="underline">bottom navigation</span>
        </p>
      </app-tour-guide-help>
    </app-tour-guide>
    <app-slide-option-bar-icon-button
      (click)="onChangeSlideNavbarPos()"
      iconClasses="{{
        slideNavbarPos === 'MIDDLE' || slideNavbarPos === 'LEFT'
          ? 'bi bi-sign-turn-right'
          : 'bi bi-sign-turn-left'
      }}"
    />
  </app-tour-guide-container>
</div>
