<div class="pt-16 h-full flex flex-col gap-8 items-center">
  <p class="text-6xl">Vocab Summary</p>
  <ol class="text-4xl flex flex-col flex-wrap w-[80%] bg-orange-50 h-[36rem]">
    <li *ngFor="let item of wordItems" class="pb-8">hey</li>
    <li *ngFor="let item of wordItems" class="pb-8">hey</li>
    <li *ngFor="let item of wordItems" class="pb-8">hey</li>
  </ol>

  <!-- <div class="flex justify-around w-[80%] bg-orange-100">
    <ol class="text-4xl">
      <li *ngFor="let item of wordItems" class="list-decimal pb-8">hey</li>
      <p>{{ item.english }}</p>
      <p>{{ " - " + item.explanation }}</p>
    </ol>
    <ul class="text-4xl">
      <span *ngFor="let item of wordItems" class="pb-8">
        <i class="bi bi-circle-fill text-sm"></i>
        <li>hey</li></span
      >

      <p>{{ item.english }}</p>
      <p>{{ " - " + item.explanation }}</p>
    </ul>
  </div> -->
</div>
