// .app-word-slide,
// .app-summary-slide,
// .app-exercise-slide {
//   background-color: var(--tw-gray-50);
//   background-color: white;
//   //background-color: var(--tw-orange-50);
//   flex-grow: 1;
//   //min-height: calc(100vh - 80px);
// }

:host {
  ::ng-deep {
    & .slide-nav-bar {
      position: fixed;
      bottom: 1rem;
      left: calc(50% + 150px);
      transform: translateX(-50%);
      z-index: 10;

      & .p-button {
        margin-right: 1rem;
      }
    }

    & .p-menubar {
      position: fixed;
      bottom: 0;
      left: calc(50% + 150px);
      transform: translateX(-50%);
    }

    & .p-panelmenu {
      width: 13rem;
      & .p-panelmenu-panel {
        margin-bottom: 0.25rem;

        &:first-child {
          & .p-panelmenu-header {
            & .p-menuitem-icon {
              color: var(--tw-purple-400) !important;
            }

            & a {
              &:focus {
                box-shadow: none;
                border: 2px solid var(--tw-purple-500) !important;
              }
            }
          }
        }

        &:nth-child(2) {
          & .p-panelmenu-header {
            & .p-menuitem-icon {
              color: var(--tw-orange-400) !important;
            }
            & a {
              &:focus {
                box-shadow: none;
                border: 2px solid var(--tw-orange-500) !important;
              }
            }
          }
        }

        &:nth-child(3) {
          & .p-panelmenu-header {
            & .p-menuitem-icon {
              color: var(--tw-pink-400) !important;
            }
            & a {
              &:focus {
                box-shadow: none;
                border: 2px solid var(--tw-pink-500) !important;
              }
            }
          }
        }

        & .p-panelmenu-header {
          a {
            background-color: var(--tw-gray-800);
            color: white;
            border-radius: 0.75rem !important;
            border: none !important;
          }

          &:not(.p-disabled) {
            a {
              &:hover {
                background-color: var(--tw-gray-800);
                color: white;
              }
            }
          }

          & .p-icon-wrapper {
            order: 1;
            color: var(--tw-gray-50);
          }

          & .p-menuitem-text {
            flex-grow: 1;
          }
        }
      }

      & .p-panelmenu-content {
        & .p-menuitem {
          & .p-menuitem-link {
            &:focus {
              box-shadow: none;
            }
            &:not(.p-disabled) {
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }

      & .word {
        & .p-menuitem-icon {
          color: var(--tw-purple-400) !important;
        }
      }

      & .summary {
        & .p-menuitem-icon {
          color: var(--tw-orange-400) !important;
        }
      }

      & .exercise {
        & .p-menuitem-icon {
          color: var(--tw-pink-400) !important;
        }
      }

      & .active-word {
        & .p-menuitem-text {
          background-color: var(--tw-purple-200);
          padding: 0.5rem;
          border-radius: 0.75rem;
          color: black !important;
        }
      }
      & .active-summary {
        & .p-menuitem-text {
          background-color: var(--tw-orange-200);
          padding: 0.5rem;
          border-radius: 0.75rem;
          color: black !important;
        }
      }
      & .active-exercise {
        & .p-menuitem-text {
          background-color: var(--tw-pink-200);
          padding: 0.5rem;
          border-radius: 0.75rem;
          color: black !important;
        }
      }
    }

    & .p-panelmenu-content {
      background-color: yellow;
      background-color: transparent;
      border: none !important;

      & .p-menuitem {
        & .p-menuitem-link {
          //padding-left: 1.25rem;
          padding: 0.6rem 0.6rem 0.6rem 1.25rem;
          &:hover {
            & .p-menuitem-text {
              color: black !important;
            }
          }

          & .p-menuitem-text {
            //box-sizing: content-box;
            color: var(--tw-gray-600);
            font-weight: 600;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

//.sidebar-and-slide-wrapper {
//   display: flex;
//   background-color: #fff5f0;
// }
