.app-word-slide,
.app-summary-slide,
.app-exercise-slide {
  background-color: var(--tw-bg-white);
  flex-grow: 1;
  min-height: calc(100vh - 84px);
}

:host {
  ::ng-deep {
    & .p-panelmenu-icon {
      display: none;
    }

    & .p-menubar {
      position: fixed;
      bottom: 0;
      left: calc(50% + 150px);
      transform: translateX(-50%);
    }

    & .p-panelmenu {
      width: 13rem;
      & .p-panelmenu-panel {
        margin-bottom: 0.25rem;

        &:first-child {
          & .p-panelmenu-header {
            & .p-menuitem-icon {
              color: var(--tw-orange-400) !important;
            }
          }
        }

        &:nth-child(2) {
          & .p-panelmenu-header {
            & .p-menuitem-icon {
              color: var(--tw-purple-400) !important;
            }
          }
        }

        &:nth-child(3) {
          & .p-panelmenu-header {
            & .p-menuitem-icon {
              color: var(--tw-pink-400) !important;
            }
          }
        }

        & .p-panelmenu-header {
          & .p-menuitem-icon {
            color: var(--tw-purple-500) !important;
            color: var(--tw-orange-400) !important;
            //font-size: 1rem;
          }
          a {
            // background-color: var(--tw-violet-900);
            background-color: var(--tw-gray-800);

            color: white;
            border-radius: 0.75rem !important;
            border: none !important;

            &:focus {
              box-shadow: none;
              border: 2px solid var(--tw-purple-500) !important;
            }
          }

          &:not(.p-disabled) {
            a {
              &:hover {
                background-color: var(--tw-gray-800);
                color: white;
              }
            }
          }
        }
      }

      & .p-panelmenu-content {
        & .p-menuitem {
          & .p-menuitem-link {
            &:not(.p-disabled) {
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }

      & .word {
        & .p-menuitem-icon {
          color: var(--tw-orange-400) !important;
        }
      }

      & .summary {
        & .p-menuitem-icon {
          color: var(--tw-purple-400) !important;
        }
      }

      & .exercise {
        & .p-menuitem-icon {
          color: var(--tw-pink-400) !important;
        }
      }
    }

    & .p-panelmenu-content {
      background-color: yellow;
      background-color: transparent;
      border: none !important;

      & .p-menuitem {
        & .p-menuitem-link {
          padding-left: 1.25rem;
          &:hover {
            & .p-menuitem-text {
              color: black !important;
            }
          }

          & .p-menuitem-text {
            color: var(--tw-gray-600);
            font-weight: 600;
          }
        }
      }
    }
  }
}

//.sidebar-and-slide-wrapper {
//   display: flex;
//   background-color: #fff5f0;
// }
