<!-- toastAnchor stays with the toastDestination -->
<div
  #toastAnchor
  [ngClass]="toastAnchorCSSClasses"
  [ngStyle]="{
    top: toastAnchorTop,
    left: toastAnchorLeft,
    right: toastAnchorRight,
    bottom: toastAnchorBottom,
    visibility: 'hidden',

  }"
  id="{{ toastId + '-anchor' }}"
>
  <!--this becomes a direct child of the body-->
  <div
    #toast
    [ngStyle]="{
      top: toastTop,
      left: toastLeft,
      right: toastRight,
      bottom: toastBottom,
      visibility: visibility,
      display: display,
      position: positionType,
      zIndex: zIndex
    }"
    [ngClass]="toastCSSClasses"
  >
    <!-- <h1>My tooltip/toast header</h1> -->
    <ng-content></ng-content>
    <div
      *ngIf="showArrow && arrowLeft"
      [ngClass]="arrowLeftCSSClasses"
      [ngStyle]="{
        zIndex: zIndex
      }"
    ></div>
    <div
      *ngIf="showArrow && arrowRight"
      [ngClass]="arrowRightCSSClasses"
      [ngStyle]="{
        zIndex: zIndex
      }"
    ></div>
    <div
      *ngIf="showArrow && arrowTop"
      [ngClass]="arrowTopCSSClasses"
      [ngStyle]="{
        zIndex: zIndex
      }"
    ></div>
    <div
      *ngIf="showArrow && arrowBottom"
      [ngClass]="arrowBottomCSSClasses"
      [ngStyle]="{
        zIndex: zIndex
      }"
    ></div>
  </div>
</div>
