<div class="w-full h-full bg-gray-400 p-2 rounded-lg">
  <h1>My tour guide {{ elementId }}</h1>
  <div class="flex gap-4">
    <button appElementControls [elementId]="elementId" [onShowAll]="true">
      Show All
    </button>
    <button appElementControls [elementId]="elementId" [onGoToNextId]="true">
      Next d
    </button>
    <button
      appElementControls
      [elementId]="elementId"
      [onGoToPreviousId]="true"
    >
      Pre d
    </button>
    <button appElementControls [elementId]="elementId" [onGoToFirstId]="true">
      Fir d
    </button>
    <button appElementControls [elementId]="elementId" [onGoToLastId]="true">
      Las d
    </button>
    <button appElementControls [elementId]="elementId" [onClose]="true">
      Close
    </button>
  </div>
</div>
