<section class="pt-36 h-full w-full flex flex-col items-center bg-gray-50">
  <h1 class="hero-text-1 text-red-500 mb-8">Error</h1>

  <p class="text-xl text-gray-900 mb-2">
    No content found for this flashcard set.
  </p>
  <p class="text-xl mb-16 text-gray-900">Sorry for any inconvenience.</p>
  <div class="flex gap-4">
    <p-button label="Back to home" styleClass="p-button p-button-lg"></p-button>
    <p-button
      label="Find more vocabulary"
      styleClass="p-button-secondary p-button-lg"
    ></p-button>
  </div>
</section>
