<app-no-teaching-entities-error
  *ngIf="isTeachingEntityError"
  class="h-[calc(100vh-80px)] block"
></app-no-teaching-entities-error>
<div *ngIf="!isTeachingEntityError" class="flex">
  <!--sidebar-->
  <div
    class="w-fit pl-10 pt-8 flex-shrink-0 overflow-y-auto h-[calc(100vh-80px)]"
    [ngClass]="{
      'order-0': !sidebarsOnRight,
      'pl-8': !sidebarsOnRight,
      'order-2': sidebarsOnRight,
      'pr-8': sidebarsOnRight
    }"
  >
    <p-panelMenu [model]="sidebarMenuItems" [multiple]="true"></p-panelMenu>
  </div>
  <!--second sidebar-->
  <app-slide-option-bar
    (updateShowContentAfterWordVisited)="updateContentAfterWordVisited()"
    (updateSlideNavbarPos)="updateSlideNavbarPos()"
    (updateShowTranslation)="updateShowTranslation()"
    (updateToggleTranslation)="updateToggleTranslation()"
    (updateShowExplanation)="updateShowExplanation()"
    (updateShowAllExerciseAnswers)="updateShowAllExerciseAnswers()"
    (updateHideAllExerciseAnswers)="updateHideAllExerciseAnswers()"
    (updateSidebarsOnRight)="updateSidebarsOnRight()"
    class="w-fit pl-8 flex flex-col items-center justify-end overflow-y-auto h-[calc(100vh-80px)]"
    [ngClass]="sidebarsOnRight ? 'order-1' : 'order-0'"
    [sidebarsOnRight]="sidebarsOnRight"
    [slideNavbarPos]="slideNavbarPos"
  ></app-slide-option-bar>

  <ng-container *ngIf="!displayedContentInSlide; else elseBlock">
    <app-no-slide-error
      class="h-[calc(100vh-80px)] block grow"
    ></app-no-slide-error>
  </ng-container>
  <!--teaching slide -->
  <ng-template #elseBlock>
    <ng-container
      *ngIf="displayedContentInSlide && isWordEntity(displayedContentInSlide)"
    >
      <app-word-slide
        class="bg-white grow px-8"
        ngClass="app-word-slide"
        [primaryWord]="displayedContentInSlide.english"
        [secondaryWord]="displayedContentInSlide.spanish"
        [showTranslation]="showTranslation"
        [showExplanation]="showExplanation"
        [showPrimaryWordFirst]="showPrimaryWordFirst"
        [explanation]="displayedContentInSlide.explanation"
      ></app-word-slide>
    </ng-container>

    <ng-container
      *ngIf="
        displayedContentInSlide && isSummaryEntity(displayedContentInSlide)
      "
    >
      <app-summary-slide
        class="bg-white grow"
        ngClass="app-summary-slide"
        [wordEntities]="displayedContentInSlide.wordEntities"
        [showPrimaryWordFirst]="showPrimaryWordFirst"
      ></app-summary-slide>
    </ng-container>

    <ng-container
      *ngIf="
        displayedContentInSlide && isExerciseEntity(displayedContentInSlide)
      "
    >
      <app-exercise-slide
        class="bg-white grow"
        ngClass="app-exercise-slide"
        [questions]="displayedContentInSlide.questions"
        [accordionState]="accordionState"
      ></app-exercise-slide>
    </ng-container>
  </ng-template>
</div>

<div
  *ngIf="!isTeachingEntityError"
  class="fixed bottom-4 z-10 px-8 flex gap-4 justify-center"
  [ngClass]="sidebarsOnRight ? 'left-0 right-[22rem] ' : 'left-[22rem] right-0'"
>
  <!--change the justify-* class below to change where the navbar buttons are located-->
  <div
    class="w-full flex"
    [ngClass]="{
      'justify-center': slideNavbarPos === 'MIDDLE',
      'justify-start': slideNavbarPos === 'LEFT',
      'justify-end': slideNavbarPos === 'RIGHT',
    }"
  >
    <ul class="flex gap-4 justify-center min-w-[30rem]">
      <li class="h-full flex items-center">
        <button
          (click)="onStart()"
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full bg-gray-300 hover:bg-gray-400"
        >
          <span
            class="py-3 px-4 inline-block text-xl text-gray-950 font-medium rounded-full"
            ><span>Start</span></span
          >
        </button>
      </li>
      <li class="h-full flex items-center">
        <button
          (click)="onPreviousSection()"
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full bg-gray-300 hover:bg-gray-400"
        >
          <span
            class="py-3 px-4 flex gap-2 text-xl text-gray-950 font-medium rounded-full"
            ><i class="bi bi-chevron-double-left text-2xl"></i
          ></span>
        </button>
      </li>
      <li class="h-full flex items-center">
        <button
          (click)="onPrevious()"
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full bg-gray-300 hover:bg-gray-400"
        >
          <span
            class="py-3 px-4 flex gap-2 text-xl text-gray-950 font-medium rounded-full"
            ><i class="bi bi-chevron-left text-2xl"></i
          ></span>
        </button>
      </li>
      <li class="h-full flex items-center">
        <button
          (click)="onNext()"
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full bg-gray-300 hover:bg-gray-400"
        >
          <span
            class="py-3 px-4 flex gap-2 text-xl text-gray-950 font-medium rounded-full"
            ><i class="bi bi-chevron-right text-2xl"></i
          ></span>
        </button>
      </li>
      <li class="h-full flex items-center">
        <button
          (click)="onNextSection()"
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full bg-gray-300 hover:bg-gray-400"
        >
          <span
            class="py-3 px-4 flex gap-2 text-xl text-gray-950 font-medium rounded-full"
            ><i class="bi bi-chevron-double-right text-2xl"></i
          ></span>
        </button>
      </li>

      <li class="h-full flex items-center">
        <button
          (click)="onEnd()"
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full bg-gray-300 hover:bg-gray-400"
        >
          <span
            class="py-3 px-4 inline-block text-xl text-gray-950 font-medium rounded-full"
            ><span>End</span></span
          >
        </button>
      </li>
    </ul>
  </div>
</div>
