// .content {
//   //margin: 40px 0px 0px 32px;
//   padding: 0 24px;
//   max-width: 960px;
// }
:host {
  ::ng-deep {
    .p-menubar {
      background-color: var(--tw-bg-white);
    }

    .p-submenu-icon {
      display: none;
    }

    .p-menuitem {
      //display: block;
      &:last-child {
        margin-left: auto;
      }
    }
  }
}
