<div class="w-full h-full bg-gray-400 p-2 rounded-lg">
  <h1>My tooltip/toast</h1>
  <div class="flex gap-4">
    <button #show appToast [toastId]="toastId" [onShowAll]="true">
      Show All
    </button>
    <button appToast [toastId]="toastId" [onClose]="true">Close</button>
    <!-- <button appToast [toastId]="toastId" [onCloseAllOthers]="true">
      Close All Others
    </button>
    <button
      appToast
      [toastId]="toastId"
      onCloseAllOthersInGroup="toast-group-3"
    >
      CAOIG
    </button> -->
    <button appToast [toastId]="toastId" [onGoToNextId]="true">Next d</button>
    <button appToast [toastId]="toastId" [onGoToPreviousId]="true">
      Pre d
    </button>
    <button appToast [toastId]="toastId" [onGoToFirstId]="true">Fir d</button>
    <button appToast [toastId]="toastId" [onGoToLastId]="true">Las d</button>
    <!-- <button appToast [toastId]="toastId" onShowAllOthersInGroup="toast-group-3">
      SAOG 3
    </button> -->
  </div>
</div>
