<div class="w-full h-full bg-gray-400 p-2 rounded-lg">
  <h1>My tooltip/toastId {{ elementId }}</h1>
  <div class="flex gap-4">
    <!-- <button appElementControls [elementId]="elementId" [onShowAll]="true">
      Show All
    </button> -->
    <!-- <button appElementControls [elementId]="elementId" [onCloseAllOthers]="true">
      Close All Others
    </button>
    <button
      appElementControls
      [elementId]="elementId"
      onCloseAllOthersInGroup="toast-group-3"
    >
      CAOIG
    </button> -->
    <button
      appElementControls
      [elementId]="elementId"
      onShowAllOthersInGroup="toast-group-1"
    >
      ShowAllO*InGroup
    </button>
    <!-- <button
      appElementControls
      [elementId]="elementId"
      [onCloseAllOthers]="true"
    >
      CloseAllOthers
    </button> -->
    <button
      appElementControls
      [elementId]="elementId"
      onCloseAllInGroup="toast-group-1"
    >
      CloseAllInGrp
    </button>
    <button
      appElementControls
      [elementId]="elementId"
      onCloseAllOthersInGroup="toast-group-1"
    >
      CloseAllOt*InGroup
    </button>
    <button appElementControls [elementId]="elementId" [onClose]="true">
      Close
    </button>
    <!-- <button appToast [toastId]="toastId" onShowAllOthersInGroup="toast-group-3">
      SAOG 3
    </button> -->
  </div>
</div>
