<app-main-layout>
  <div class="w-[64rem] mx-auto my-20 flex flex-col items-center">
    <div class="flex flex-col items-start">
      <h1 class="mb-8 text-5xl text-center">Component Library Prototype</h1>

      <section class="mb-4">
        <h2 class="text-4xl mb-2">Objectives</h2>
        <ul>
          <li class="list-disc">
            Style once, use anywhere. Style your component in Angular and reuse
            it in a React project.
          </li>
          <li class="list-disc">
            Media query support that works with SSR without hydration issues.
          </li>
          <li class="list-disc">
            Themes and nested themes that work seamlessly with SSR without
            hydration issues.
          </li>
          <li class="list-disc">
            Styles out-of-the-box but completely customisable.
          </li>
          <li class="list-disc">
            Expose every layer of HTML for full customisation and to avoid
            problems with ngDeep.
          </li>
          <li class="list-disc">
            Customise the styles and/or theme on-the-fly.
          </li>
          <li class="list-disc">Make reusable custom components.</li>
          <li class="list-disc">Support light and dark mode.</li>
          <li class="list-disc">Compatible with Tailwind and CSS modules.</li>
        </ul>
      </section>
      <section>
        <h2 class="text-4xl mb-2">Quick example</h2>
        <ul>
          <li class="list-disc">Style</li>
          <li class="list-disc">Expose</li>
        </ul>
        <code
          ><ul>
            <li class="list-disc">Style</li>
            <li class="list-disc">Expose</li>
          </ul></code
        >
      </section>
    </div>
  </div>
</app-main-layout>
