<app-main-layout>
  <div class="flex flex-col gap-3 w-96 mx-auto my-20 justify-center">
    <h1 class="mb-8 text-5xl text-center">Sign In</h1>
    <form class="flex flex-col" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div>
        <input
          aria-label="email"
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          ngModel
          name="email"
          email
          #email="ngModel"
          required
          appInputClasses
          #emailClasses="appInputClasses"
          [ngClass]="emailClasses.cssClasses"
        />
        <p
          *ngIf="!email.valid && email.touched"
          appInputHelperTextClasses
          #emailHelperClasses="appInputHelperTextClasses"
          [variant]="helperTextVariant"
          [ngClass]="emailHelperClasses.cssClasses"
        >
          Enter a valid email
        </p>
      </div>
      <div>
        <input
          aria-label="password"
          type="text"
          name="password"
          id="password"
          placeholder="Password"
          ngModel
          name="password"
          #password="ngModel"
          [minlength]="8"
          required
          appInputClasses
          #passwordClasses="appInputClasses"
          [ngClass]="passwordClasses.cssClasses"
        />
        <p
          *ngIf="!password.valid && password.touched"
          appInputHelperTextClasses
          #passwordHelperClasses="appInputHelperTextClasses"
          [variant]="helperTextVariant"
          [ngClass]="passwordHelperClasses.cssClasses"
        >
          At least 8 characters
        </p>
      </div>
      <button
        class="mt-1 rounded-full bg-gray-700 hover:enabled:bg-gray-800 p-3"
      >
        <span class="text-white">Submit</span>
      </button>
    </form>
  </div>
</app-main-layout>
