<div class="flex gap-2">
  <span
    class="absolute -top-4 left-0 inline-block w-16 h-16 bg-blue-100 rounded-full"
  >
    <img
      class="h-16"
      src="https://raw.githubusercontent.com/chrisenoch/assets/main/teacher.png"
      alt=""
    />
  </span>
  <button
    appElementControls
    [elementId]="elementId"
    [onShowAll]="true"
    class="ml-16 text-blue-950 hover:enabled:bg-blue-200 py-1 px-2 rounded-lg"
  >
    Show All
  </button>
  <button
    appElementControls
    [elementId]="elementId"
    [onCloseAllOthers]="true"
    class="text-blue-950 hover:enabled:bg-blue-200 py-1 px-2 rounded-lg"
  >
    Close All
  </button>
  <button
    class="mr-4 text-blue-950 hover:enabled:bg-blue-200 py-1 px-2 rounded-lg"
    (click)="onToggleTooltips()"
  >
    Turn {{ showTooltipsOnUserAction ? "off" : "on" }} Tooltips
  </button>
</div>
