<nav
  class="font-medium h-20 w-full border-b border-gray-900/10 whitespace-nowrap"
>
  <div class="flex h-full px-32 items-center">
    <div class="pr-12">
      <a href="#" class="font-BubblegumSans text-4xl">
        WordC<span class="text-pink-500">a</span>rd<span class="text-pink-500"
          >z</span
        ></a
      >
    </div>

    <ul class="flex grow h-full items-center justify-end gap-5">
      <li class="h-full flex items-center">
        <a
          href="#"
          class="p-1 h-fit w-fit hover:bg-gray-300 inline-block rounded-full bg-gray-200"
        >
          <span
            class="py-1 px-3 inline-block text-gray-950 font-medium rounded-full"
            ><span>Flashcards</span></span
          ></a
        >
      </li>
      <li class="h-full flex items-center">
        <a
          href="#"
          class="p-1 h-fit w-fit hover:bg-gray-300 inline-block rounded-full bg-gray-200"
        >
          <span
            class="py-1 px-3 inline-block text-gray-950 font-medium rounded-full"
            ><span>Classes</span></span
          ></a
        >
      </li>
      <li class="h-full flex items-center">
        <a
          href="#"
          class="p-1 h-fit w-fit hover:bg-gray-300 inline-block rounded-full bg-gray-200"
        >
          <span
            class="py-1 px-3 inline-block text-gray-950 font-medium rounded-full"
            ><span>Games</span></span
          ></a
        >
      </li>
      <li class="h-full flex items-center">
        <!--So many layers for Sign in link because originally this had a gradient background and gradient text.-->
        <a
          href="#"
          class="group p-1 h-fit w-fit inline-block rounded-full border-pink-500 border-2 hover:bg-pink-500"
        >
          <span
            class="py-2 px-4 inline-block font-medium bg-white group-hover:bg-pink-500 rounded-full"
            ><span class="text-pink-500 group-hover:text-white"
              >Sign in</span
            ></span
          ></a
        >
      </li>
      <li class="h-full flex items-center">
        <a
          href="#"
          class="p-1 h-fit w-fit inline-block rounded-full border-pink-500 border-2 bg-pink-500 hover:bg-pink-600 hover:border-pink-600"
        >
          <span class="py-2 px-4 inline-block text-white font-bold rounded-full"
            ><span>Try free</span></span
          ></a
        >
      </li>
    </ul>
  </div>
</nav>

<!-- class="font-semibold h-20 w-full whitespace-nowrap border-b-2 border-b-gray-100" -->
