<nav
  class="font-medium h-20 w-full whitespace-nowrap relative z-0 shadow-md shadow-gray-200"
>
  <div class="flex h-full px-36 items-center">
    <div class="pr-12">
      <a href="#"> <span>Logo image</span></a>
    </div>
    <ul class="flex grow h-full items-center gap-10 text-lg">
      <li class="hover:text-purple-500"><a href="#">Flashcards App</a></li>
    </ul>
    <ul class="flex grow h-full items-center justify-end gap-10">
      <li class="hover:text-purple-500">
        <a href="#">Classes</a>
      </li>
      <li class="hover:text-purple-500">
        <a href="#"><i class="bi bi-person text-3xl font-medium"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!-- class="font-medium h-20 w-full whitespace-nowrap border-b-2 border-b-gray-100" -->
