<!-- IMPORTANT: I haven't extracted these into button components because soon I will start my own component library and use the button components from there.-->
<!--To do: Disable hover on buttons when buttons are disabled and map over nav items.-->
<nav
  class="fixed bg-white z-[1500] font-medium h-20 w-full border-b border-gray-900/10 whitespace-nowrap"
>
  <div class="flex h-full px-32 items-center">
    <div class="pr-12">
      <a href="#" class="font-BubblegumSans text-4xl">
        WordC<span class="text-pink-500">a</span>rd<span class="text-pink-500"
          >z</span
        ></a
      >
    </div>

    <ul class="flex grow h-full items-center justify-end gap-4">
      <li *ngFor="let item of navItems" class="h-full flex items-center">
        <app-button
          buttonText="Still to do"
          variant="plain"
          [disabled]="true"
          rounded="full"
          href="/"
          [sx]="{
            container: {
              remove: [
                'opacity-50',
                'py-3',
                'bg-gray-300',
                'data-[disabled=false]:hover:bg-gray-400'
              ],
              add: [
                'bg-gray-200',
                'py-2',
                'data-[disabled=false]:hover:bg-gray-300'
              ]
            }
          }"
        ></app-button>
      </li>
      <li class="h-full flex items-center">
        <app-button
          buttonText="My Component Lib"
          rounded="full"
          href="/component-library"
          [sx]="{
            container: {
              remove: [
                'py-3',
                'bg-purple-500',
                'data-[disabled=false]:hover:bg-purple-600'
              ],
              add: [
                'bg-gray-700',
                'py-2',
                'data-[disabled=false]:hover:bg-gray-800'
              ]
            }
          }"
        ></app-button>
      </li>
      <li class="h-full flex items-center">
        <app-button
          href="/login"
          buttonText="SignIn"
          rounded="full"
          variant="secondaryOutlined"
          [sx]="{
            container: {
              add: ['py-3.5', 'px-5'],
              remove: ['py-3', 'px-4']
            }
          }"
        ></app-button>
      </li>
      <li class="h-full flex items-center">
        <app-button
          href="#"
          buttonText="Try free"
          rounded="full"
          variant="secondary"
          [sx]="{
            container: {
              add: ['font-bold', 'py-3.5', 'px-5'],
              remove: ['font-medium', 'py-3', 'px-4']
            }
          }"
        ></app-button>
      </li>
    </ul>
  </div>
</nav>

<!-- class="font-semibold h-20 w-full whitespace-nowrap border-b-2 border-b-gray-100" -->
