<button
  *ngIf="!href"
  [ngClass]="cssClasses.container"
  [attr.data-disabled]="disabled === 'isDisabled' ? true : false"
  [disabled]="disabled === 'isDisabled' ? true : false"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</button>

<a
  *ngIf="href"
  [attr.data-disabled]="disabled === 'isDisabled' ? true : false"
  appDisableLink
  #appDisableLink="appDisableLink"
  [isDisabled]="disabled === 'isDisabled' ? true : false"
  href="{{ href }}"
  [ngClass]="cssClasses.container"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</a>

<ng-template #buttonContent>
  <ng-content select="[startContent]"></ng-content>
  <span *ngIf="buttonText" [ngClass]="cssClasses.textContent"
    >{{ buttonText }}
  </span>
  <ng-content select="[endContent]"></ng-content>
</ng-template>
